@font-face {
    font-family: 'ACCchildrenheartOTF-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112-2@1.0/ACCchildrenheartOTF-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    text-align: center;
    font-family: 'ACCchildrenheartOTF-Regular';
}

.hidden {
    display: none;
}

.dateclock {
    margin: 1vh;
    font-size: 36px;
    font-weight: bold;
}

.todo-btn {
    border: none;
    background-color: transparent;
}

.todo-btn:hover {
    cursor: pointer;
}

.done {
    text-decoration: line-through;
}

#login-input {
    width: 20vw;
    height: 5vh;
    margin: 10vh 0 5vh 0;

    background: transparent;
    border: none;
    border-bottom: black solid;
    outline: none;

    font-family: 'ACCchildrenheartOTF-Regular';
    font-size: 20px;
    text-align: center;
}

#login-btn {
    display: none;
}

#greeting-div {
    margin: 10vh 0 5vh 0;
    font-size: 72px;
    font-weight: bolder;
}

#logout-btn {
    font-family: 'ACCchildrenheartOTF-Regular';
    color: white;
    background-color: black;
    opacity: 0.25;
    border: none;
}

#logout-btn:hover{
    cursor: pointer;
}

#quote {
    position: absolute;
    top: 40vh;
    left: 40vw;
    right: 40vw;
    width: 20vw;
}

#quote p {
    font-size: 20px;
    font-style: italic;
}

#todo-div {
    position: absolute;
    top: 10vh;;
    right: 5vw;
    text-align: left;
}

#todo-input {
    width: 16vw;
    height: 4vh;

    background: transparent;
    border: none;
    border-bottom: black solid;
    outline: none;

    font-family: 'ACCchildrenheartOTF-Regular';
    font-size: 16px;
}

#todo-list {
    font-size: 20px;
}

#weather-div {
    position: absolute;
    top: 10vh;
    left: 5vw;
    text-align: left;
}

#weather-list {
    list-style: none;
    font-size: 20px;
}